.seymour-one-regular {
    font-family: "Seymour One", sans-serif;
    font-weight: 500;
    font-style: normal;
  }


.dancing-scriptuniquifier{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
  

*{
    padding: 0;
    margin: 0;
}

.nav{
    background-color: rgb(.5,.5,.5, .5);
    color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0 20px black;
}

h1{
    font-size: 2rem;
    font-family: "Seymour One", sans-serif;
}

p{
    font-family: "Dancing Script", cursive;
}