.Note{
    background-color: transparent;
    width: fit-content;
    padding: 1rem;
    margin: 5px;
    background-color: #0000004d;
    border: 2px solid green;
    transition: .5s;
}



li{
     list-style-type: armenian;
    font-size: 1.5rem;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}